@model IEnumerable<Bookcase.ViewModel.BookViewModel>

<script src="~/Scripts/DomainScripts/Book.js"></script>

<br />
<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-default", data_toggle = "modal", data_target = "#myModal", type = "button" })
</p>
<table id="grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingHouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year.Year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id = item.Id }, new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#myModal", type = "button" })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", null, new { id = item.Id }, new { @class = "btn btn-info", data_toggle = "modal", data_target = "#myModal", type = "button" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", null, new { id = item.Id }, new { @class = "btn btn-warning", data_toggle = "modal", data_target = "#myModal", type = "button" })
            </td>
        </tr>
    }
</table>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

