@model Bookcase.ViewModel.AuthorViewModel
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete this author?</h4>
    </div>
    <div class="modal-body">
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>
        </dl>
        <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-warning"/>
            <button type="submit" value="Close" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
}
